---
layout: archive
permalink: /blogs/
title: "Blogs"
author_profile: true
---

<!-- {% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %} -->


{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% if forloop.first %}
    <hr class="separator"> <!-- First separation line -->
  {% else %}
    <hr class="separator"> <!-- Separation line between posts -->
  {% endif %}
  <div class="post-entry">
    <h2 class="post-title">{{ post.title }}</h2>
    <p class="post-excerpt">{{ post.excerpt }}</p>
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-link">READ MORE</a>
  </div>
{% endfor %}
